[2022-01-04 10:47] pulpbot opened #382 "allow fetching obsolete artifacts from snapshot.debian.org"
Author: evgeni (evgeni)

Redmine Issue: 4866, https://pulp.plan.io/issues/4866

---

Debian removes old versions of packages that have been updated from their mirrors. Because of that using lazy sync against official Debian mirrors might end up with incomplete repos when Pulp syncs metadata on day 1, on day 2 a package gets updated/replaced and on day 3 pulp tries to actually get that package.

De

[2022-01-04 10:47] pulpbot opened #383 "Unable to create ReleaseArchitecture or ReleaseComponent via the API"
Author: lieter (lieter)

Redmine Issue: 6538, https://pulp.plan.io/issues/6538

---

After creating a release

[code]

it isn't possible to create a ReleaseArchitecture or ReleaseComponent:

[code]

Being able to do this should enable 'structured publishing' for non-mirrored debian repositories (I'm told)

[2022-01-04 10:47] pulpbot opened #384 "Debug packages from Ubuntu Bionic and newer can't be uploaded"
Author: lieter (lieter)

Redmine Issue: 6757, https://pulp.plan.io/issues/6757

---

From Ubuntu Bionic onward, Canonical has patched debuild to change the suffix for debug ($package-dbgsym_$version) package from .deb to .ddeb.

When attempting to upload packages with this suffix, the tasks has the following error:

[code]

This is because the plugin (rightfully) assumes that all packages are call

[2022-01-04 10:47] pulpbot opened #385 "Add test to check validity of distributed repos"
Author: @quba42 (quba42)

Redmine Issue: 6901, https://pulp.plan.io/issues/6901

---

We should have a test that synchronizes a fully valid repository from the fixtures, creates, a publication, and finally a distribution, and finally tests that distribution for validity.

Ideally we would use an actual APT client to do this, and possibly even test installing a package from the test repository.

[2022-01-04 10:47] pulpbot opened #386 "Use postgres deb version compare function"
Author: @quba42 (quba42)

Redmine Issue: 6902, https://pulp.plan.io/issues/6902

---

There is a DebVersion extension that allows for comparison operations between Debian package versions directly in postgres.

This has been successfully packaged for Katello.

pulp_deb could also benefit from this existing work.

[2022-01-04 10:47] pulpbot opened #387 "Add the ability to set per release/distribution descriptions"
Author: @quba42 (quba42)

Redmine Issue: 7024, https://pulp.plan.io/issues/7024

---

Right now, users can set the description at the repository level.
This description will be used in the Release file for all releases/distributions in the repository.

We could add a description field to the Release content model, that would override the repository description.

This would be a minor feature addit

[2022-01-04 10:48] pulpbot opened #388 "Add tests to ensure all control file fields present in an upstream package index will be present in pulp_deb"
Author: @quba42 (quba42)

Redmine Issue: 7266, https://pulp.plan.io/issues/7266

---

We should have test packages/assertions etc. to ensure that each control file field present in an upstream repo makes it into our published repos.

Should be ensured for both simple and structured publish.

Note that "Description-md5" and "Build-Essential" are pure metadata fields that may be present in (upstream

[2022-01-04 10:48] pulpbot opened #389 "Add a test that uploads a "minimal" Debian package."
Author: @quba42 (quba42)

Redmine Issue: 7279, https://pulp.plan.io/issues/7279

---

By minimal Debian package I mean one that has ONLY required fields in the control file.
That way we can ensure we are not dependent on any fields that are not required.

Another possibility would be to add broken packages, that lack a required field each, and assert that the relevant error is thrown.

[2022-01-04 10:49] pulpbot opened #391 "As a user I want to create arbitrary structured publications"
Author: @quba42 (quba42)

Redmine Issue: 7287, https://pulp.plan.io/issues/7287

---

Right now the only way to create structured publications is to sync a remote repository (the metadata structure of which will be recreated by pulp_deb).

Instead, I want the ability to:
1. manually create a release from a list of one or more components.
1. add/remove components from existing releases.
1. manually

[2022-01-04 10:49] pulpbot opened #392 "Adding RBAC (Role Based Access Control) support to pulp_deb"
Author: @quba42 (quba42)

Redmine Issue: 7315, https://pulp.plan.io/issues/7315

---

pulpcore 3.6 adds experimental RBAC support. This may be declared safe to use with pulpcore 3.7.

Plugins can start taking advantage of this feature at their own choosing.

Plugin writers doc:

https://github.com/pulp/pulpcore/tree/master/docs/plugins/plugin-writer/concepts/rbac

[2022-01-04 10:50] pulpbot opened #393 "As a user i want to upload package to a repository and have it available immediately in distribution (skip publication step)"
Author: mntzn (mntzn)

Redmine Issue: 7390, https://pulp.plan.io/issues/7390

---

Current workflow is to:

1. upload content (package)

2. add content to repo

3. create publication from repo

4. create/update distribution with latest publication

Steps 3, 4 can be omitted and package that have been uploaded to a repository should be immediately available in distribution (as alternative to curren

[2022-01-04 10:50] pulpbot opened #394 "Add test coverage for per repository version uniqueness constraints"
Author: @quba42 (quba42)

Redmine Issue: 7441, https://pulp.plan.io/issues/7441

---

Provide test coverage for: https://pulp.plan.io/issues/6429

I deferred the test coverage in the interest of getting this issue merged, but I still think test coverage would be useful (and at this point I have a fairly detailed idea of what would be needed):

Minimal test:

Create a repository
Upload https://fixt

[2022-01-04 10:50] pulpbot opened #395 "Refactor the debian test fixtures building"
Author: @quba42 (quba42)

Redmine Issue: 7442, https://pulp.plan.io/issues/7442

---

The idea is to use best Makefile practices.

Currently, we are building all packages multiple times for each repository.

Instead, packages should have there own make targets which are dependent targets of the repositories that need them.

Ideally all built repositories could share a common pool folder (either di

[2022-01-04 10:50] pulpbot opened #396 "As a user I want advanced copy workflows"
Author: @quba42 (quba42)

Redmine Issue: 7661, https://pulp.plan.io/issues/7661

---

pulp_rpm provides a special API endpoint for advanced copy operations with dependency resolution:
https://pulp-rpm.readthedocs.io/en/latest/workflows/copy.html#advanced-copy-workflow

Since APT packages have dependencies of similar complexity to RPM packages, pulp_deb users could benefit from an analogous feature

[2022-01-04 10:50] pulpbot opened #397 "Servers supporting Acquire-By-Hash may break verbatim publications"
Author: @quba42 (quba42)

Redmine Issue: 7819, https://pulp.plan.io/issues/7819

---

If a server supports Acquire-By-Hash (in a Release file), the verbatim publisher will still claim to do so (since it will republish the Release file verbatim). However, the verbatim publisher will not publish the Acquire-By-Hash locations for package indecies, since we do not sync them.

This should be easy to fi

[2022-01-04 10:50] pulpbot opened #398 "sync fails under certain conditions due to python3-apt not being installed"
Author: @jlsherrill (jsherril@redhat.com)

Redmine Issue: 8173, https://pulp.plan.io/issues/8173

---

A katello user here: https://projects.theforeman.org/issues/31701  reported this.  When syncing a deb repo (unsure which one), it errors with:

/usr/lib/python3.6/site-packages/debian/deb822.py:727  UserWarning: Parsing of Deb822 data with python3-apt's apt_pkg was requested but this package is n

[2022-01-04 10:50] pulpbot opened #399 "syncing deb repo with invalid/incorrect gpg key produces "No valid Release file found" error"
Author: @jlsherrill (jsherril@redhat.com)

Redmine Issue: 8511, https://pulp.plan.io/issues/8511

---

A katello user reported this:  https://projects.theforeman.org/issues/32145

which seemed like a purely pulp issue.

"Error doesn't make it clear that the issue with Release integrity check failing, or that key is invalid.
There is nothing in the dynflow console either."

[2022-01-04 10:50] pulpbot opened #400 "PackageReleaseComponentSerializer - package and release-component use identical queries"
Author: @ggainey (ggainey)

Redmine Issue: 8533, https://pulp.plan.io/issues/8533

---

See the code here : https://github.com/pulp/pulp_deb/blob/main/pulp_deb/app/serializers/content_serializers.py#L551-L567

Looks like 'package' is a cut-and-paste of 'release_component', which I suspect is Bad.

[2022-01-04 10:50] pulpbot opened #401 "Add some translation files to at least one test fixture."
Author: @quba42 (quba42)

Redmine Issue: 8544, https://pulp.plan.io/issues/8544

---

Should provide test coverage for the following:
* https://pulp.plan.io/issues/8410
* https://pulp.plan.io/issues/8096

[2022-01-04 10:51] pulpbot opened #402 "Signature tests should provide proper SigningService setup"
Author: @quba42 (quba42)

Redmine Issue: 8640, https://pulp.plan.io/issues/8640

---

The setup of the SigningService for the test pipeline is currently a dirty hack, that causes frequent failures and complications in new pipelines.

It should be possible for the test itself to handle the setup using the pulpcore-manager utility functions provided by pulp-smash.

[2022-01-04 10:51] pulpbot opened #403 "Review handling of ALLOWED_CONTENT_CHECKSUMS in the test pipelines"
Author: @quba42 (quba42)

Redmine Issue: 8641, https://pulp.plan.io/issues/8641

---

Right now we are testing using checksum settings that are not what most production setups will use.
The current settings also require manual intervention in devel boxes to run tests locally.

Ideally we would have different tests using different settings for full coverage.

[2022-01-04 10:51] pulpbot opened #404 "Fix nightly tests"
Author: @quba42 (quba42)

Redmine Issue: 8642, https://pulp.plan.io/issues/8642

---

Nightly tests have been consistently failing for a long time.

Nightly tests provide important information and should be fixed.

[2022-01-04 10:51] pulpbot opened #405 "Rework the API docs"
Author: @quba42 (quba42)

Redmine Issue: 8643, https://pulp.plan.io/issues/8643

---

I would like to systematically go through the strings used for the API docs, to ensure they provide all the critical information for users.

[2022-01-04 10:51] pulpbot opened #406 "Add support for automatic publishing and distributing"
Author: @quba42 (quba42)

Redmine Issue: 8684, https://pulp.plan.io/issues/8684

---

None

[2022-01-04 10:51] pulpbot opened #407 "Repository sync will fail if Debian components are defined on the remote"
Author: simon_t (simon_t)

Redmine Issue: 8692, https://pulp.plan.io/issues/8692

---

pulpcore version: 3.12.1

pulp_deb version: 2.11.1

Attempts to sync a repository with a remote that has Debian components defined consistently fail with the error "Response payload is not completed".

Failing remote config:

[code]

Error reported to API:

[code]

When failing in this manner multiple attempts w

[2022-01-04 10:53] pulpbot opened #408 "Synchronize translation files"
Author: @quba42 (quba42)

Redmine Issue: 8734, https://pulp.plan.io/issues/8734

---

This feature has been partially implemented, but I don't think it has ever actually worked and contains various sync breaking bugs.
As a result I will disable translation file synchronization completely for now.

The feature can then be re-added once fully completed. The following is a list of issues I have ident

[2022-01-04 10:53] pulpbot opened #409 "Add support "Source" indices and source level packages (*.orig.tar.gz, *.debian.tar.xz, *.dsc)"
Author: markawr (markawr)
Date: 2021-05-18

Redmine Issue: 8775, https://pulp.plan.io/issues/8775

---

The Debian Repository Format (https://wiki.debian.org/DebianRepository/Format) allows for "Sources" indices allowing source level packages to exist alongside deb packages. This allows for 'deb-src' lines to be included in a system's sources.list or equivalent files and allows a user to use 'apt-

[2022-01-04 10:53] pulpbot opened #410 "duplicate key value violates unique constraint "core_artifact_sha256_key""
Author: knzivid (knzivid)

Redmine Issue: 8840, https://pulp.plan.io/issues/8840

---

The `sync` REST call returns successfully

[code]

In the database server log, I see

[code]

This does not happen on the first time sync but only from the second time onwards.

**Remote:**

[code]

**Pulp versions:**

[code]

I don't notice anything wrong when I am fetching the packages but I am not sure if I s

[2022-01-04 10:53] pulpbot opened #411 "file Release is not signed for deb repository"
Author: overlord (overlord)

Redmine Issue: 8896, https://pulp.plan.io/issues/8896

---

good afternoon, Comrades. Please tell me, maybe someone has encountered a problem with synchronization of the deb repository. It syncs without the Release file.gpg, as a result, when executing apt-get update on the target machine, the error "bionic-updates Release’ is not signed " appears.
". I found this inst

[2022-01-04 10:53] pulpbot opened #412 "We need to support new style APT repo signatures"
Author: @quba42 (quba42)

Redmine Issue: 8953, https://pulp.plan.io/issues/8953

---

See the following specification: https://wiki.debian.org/Teams/Apt/Spec/AptSign

See the following excerpt from IRC:
[code]

Thanks Conan Kudo, for alerting me to this!

[2022-01-04 10:53] pulpbot opened #413 "As a user I want to use retain_package_versions just like for RPM"
Author: @quba42 (quba42)

Redmine Issue: 8983, https://pulp.plan.io/issues/8983

---

Question: Can the `retain_package_versions` feature move to pulpcore?

Also see: https://github.com/pulp/community/discussions/36

[2022-01-04 10:54] pulpbot opened #414 "create publication with signing: invalid hyperlink - object does not exist"
Author: igagis (igagis)

Redmine Issue: 9032, https://pulp.plan.io/issues/9032

---

I'm trying to create a publication with metadata siging via REST api and I get the following error:

HTTP code = 400
[code]

I have created the signing service via pulpcore_manager add-signing-service and there is a GPG key in the keyring and signing shell script, as described here: https://docs.pulpproject.org/pu

[2022-01-04 10:55] pulpbot opened #415 "KeyError: 'amd64' when creating publications during 2to3 migration"
Author: @quba42 (quba42)

Redmine Issue: 9165, https://pulp.plan.io/issues/9165

---

Reported here: https://community.theforeman.org/t/katello-column-deb-aptremote-ignore-missing-package-indices-does-not-exist/24524/3

Pastebin excerpt: https://pastebin.com/h10qnbA4
[code]

[2022-01-04 10:55] pulpbot opened #416 "As a developer, I have upgrade tests"
Author: @fao89 (fao89)

Redmine Issue: 9204, https://pulp.plan.io/issues/9204

---

As a developer, I have tests to check if migrations work as expected when upgrading a plugin

https://github.com/pulp/pulpcore/pull/1327/files

[2022-01-04 10:55] pulpbot opened #417 "Add examples for common remote options to the sync workflow docs"
Author: hostedpower (hostedpower)

Redmine Issue: 9222, https://pulp.plan.io/issues/9222

---

pulp deb remote create --name sury_php --url https://packages.sury.org/php/ --distributions stretch,buster

Apparently this doesn't work, it sees it as one distribution.

Do I need any special parameter in order to have multiple distributions in one remote? Say I need to support Buster, Stretch and Bulls

[2022-01-04 10:56] pulpbot opened #418 "Very slowly publication and progress report"
Author: wilful (wilful)

Redmine Issue: 9237, https://pulp.plan.io/issues/9237

---

Today i started mirroring for http://archive.ubuntu.com

[code]
And they still running, i can't understand how long me need waiting to complete.

[code]

I think we have data for specify progress (count of contents and count packages in repository), please, if it can, add more information about publication process

[2022-01-04 10:56] pulpbot opened #419 "Add support for Ubuntu comand-not-found (CNF) indices"
Author: wilful (wilful)

Redmine Issue: 9239, https://pulp.plan.io/issues/9239

---

Hi! I trying create mirror for official ubuntu repository: http://archive.ubuntu.com/ubuntu/
After creation on my test Ubuntu server i see error:
[code]

It content (CNF) have in source but not in my repository
I use verbatim publisher, on_demand policy

[code]

Can i add it is cnf folder?

[2022-01-04 10:57] pulpbot opened #420 "pulp fails while syncing a http repository of its own"
Author: tp-hlawatsch (tp-hlawatsch)

Redmine Issue: 9290, https://pulp.plan.io/issues/9290

---

Hello  everybody ,

I try to implement a staged repository workflow at the moment . I created a repository dv with a distant remote and synced with  success.
Now I  created a repository in with  the distribution of dv  as remote  ( http://$(hostname):8080/pulp/content/repo/deb/dv )
I switched of tls va

[2022-01-04 10:58] pulpbot opened #421 "Duplicate key violates Unique-Constraint core_artifact_sha256_key when syncing debian bullseye-backports"
Author: pasche (pasche)

Redmine Issue: 9576, https://pulp.plan.io/issues/9576

---

I have manually installed Foreman with Katello following the official documentation on a CentOS 7 system.

Created a "Debian" product with 4 repositories "bullseye" (main), "bullseye-backports", "bullseye-security" and "bullseye-updates".

3 of them work (currently without issues). While trying to sync "bullseye-b

[2022-01-05 12:52] quba42 opened #422 "Handle upstream package indices containing packages with the wrong architecture"
Minimal reproducer:
[code]

Error message:
[code]

[2022-01-05 13:07] quba42 commented on #422
I do not know where I might report the upstream issue, though it would be good to do so. The number of errors in that repo makes me think it might be something they built themselves... Perhaps just email them?

[2022-01-13 15:47] quba42 opened #432 "Backport #8770 to 2.16"
Backport https://pulp.plan.io/issues/8770 to the 2.16 release branch

[2022-01-13 15:48] quba42 opened #433 "Backport #9563 to 2.16"
Backport https://pulp.plan.io/issues/9563 to the 2.16 release branch

[2022-01-13 18:03] #432 closed

[2022-01-13 18:03] #433 closed

[2022-01-25 10:38] quba42 commented on #422
Note: I alerted HashiCorp to our findings via the from found at: https://support.hashicorp.com/hc/en-us/requests/new

[2022-01-26 10:18] quba42 commented on #422
Apparently the form I used is for paying enterprise customers only, so I also opened a thread in the HashiCorp community forum: https://discuss.hashicorp.com/t/buggy-weirdly-structured-hashicorp-apt-repo/34814

[2022-01-26 13:28] #422 closed

[2022-01-26 13:33] quba42 commented on #411
This issue was already closed in redmine.

[2022-01-26 13:33] #411 closed

[2022-01-26 13:40] quba42 commented on #420
CLOSED - DUPLICATE in redmine.

[2022-01-26 13:40] #420 closed

[2022-01-26 13:40] quba42 commented on #418
CLOSED - DUPLICATE in redmine.

[2022-01-26 13:40] #418 closed

[2022-01-26 13:41] quba42 commented on #417
CLOSED - DUPLICATE in redmine.

[2022-01-26 13:46] quba42 commented on #420
I am not sure I understand the issue with the information provided.
If this is still a issue please open a new ticket with detailed instructions on how to reproduce this.

[2022-01-26 13:48] quba42 commented on #418
The suggestions appear to have helped the user (at least we have not heard back again).
I am closing this "NOT A BUG".

[2022-01-26 14:03] quba42 commented on #411
I am closing this "NOT A BUG"

[2022-01-28 10:53] itbane commented on #419
The issue with language files (i18n) is usually a warning, but is blocking when doing a fresh installation, as the debian/ubuntu installer fails when there are issues with apt update.

A workaround for this is:
1. not use `pkgsel` in the preseed.cfg
2. add workaround from [this post](https://github.com/pulp/pulp_deb/issues/419#issuecomment-1004709862) in `/target/etc/apt/apt.conf.d/` in `late_comm

[2022-01-31 11:08] quba42 commented on #393
I am closing this as a duplicate of #406

[2022-01-31 11:08] #393 closed

[2022-01-31 12:30] quba42 commented on #410
I cannot synchronize this repository at all, since some of the packages cannot be downloaded. This happens through browser as well as through Pulp, so it does not appear to be a Pulp issue. As a result, I am closing this ticket "cannot reproduce". I am happy to re-open if there is further user input on how to reproduce this.

The error as encountered by my Pulp instance:
[code]

[2022-01-31 12:30] #410 closed

[2022-01-31 12:40] quba42 commented on #415
https://github.com/pulp/pulp-2to3-migration/pull/478 has fixed the only well understood source of this error. As a result I consider this done. If there are further instances of this issue, while using a version of the migration plugin that includes the fix I referenced, please open a new issue!

[2022-01-31 12:40] #415 closed

[2022-01-31 12:44] quba42 commented on #407
I am closing this. Feel free to open a new issue if a new reproducer is found.

[2022-01-31 12:44] #407 closed

[2022-01-31 13:41] ipanova commented on #410
@ggainey has a PR for this https://github.com/pulp/pulpcore/pull/2103

[2022-01-31 13:43] quba42 commented on #410
Thanks @ipanova. If it is being fixed within pulpcore, then I guess it is nevertheless fine to keep this pulp_deb issue closed (since it is not a pulp_deb but a pulpcore issue).

[2022-01-31 13:52] ggainey commented on #410
@quba42 No fix from me - however, I will observe that there are sync-paths that "ignore conflicts" - two threads try to create-or-update the same Thing at the same time, both try to create(), one wins, one gets the UQ-violation and switches to update instead. Postgres logs the error/collision - but it's harmless.

Unless the task fails, or the resulting repo is missing content, this is not an erro

[2022-02-21 08:52] quba42 opened #443 "Release file version changes require manual confirmation in APT"
**Version**
Affects all versions of pulp_deb, when used with APT version 1.5 and greater.

**Describe the bug**
pulp_deb publishes the Pulp repo version as the Release file version.
Starting with APT 1.5 and greater, APT asks for user confirmation in order to keep using a repo with a changed Release file version, unless `apt-get update --allow-releaseinfo-change` is used.

This can break automatio

[2022-03-03 12:23] quba42 commented on #443
See also: https://manpages.debian.org/testing/apt/apt-secure.8.en.html

[2022-03-04 14:14] daviddavis opened #446 "As an administrator, I want to verify package signatures on upload"
We would like to effectively run `dpkg-sig --verify` when packages are uploaded to ensure that they are signed with a valid signature.

For more info, see section 7.5.5: https://www.debian.org/doc/manuals/securing-debian-manual/deb-pack-sign.en.html

[2022-03-04 16:06] quba42 opened #447 "Add support for "No-Support-for-Architecture-all: Packages" repo format"
Currently pulp_deb always publishes only separate Architecture = all package indices. This is considered the best practice format, but it is not a format used by any official Debian repos. Instead those use the `No-Support-for-Architecture-all: Packages` format for more backwards compatibility (for example for Debian bullseye).

I consider it dangerous to exclusively use a format not used by anyon

[2022-03-07 10:37] quba42 opened #449 "Make various release file fields user configurable"
**Is your feature request related to a problem? Please describe.**

This feature is intended to provide a long term solution for https://github.com/pulp/pulp_deb/issues/443 while also empowering users to use pulp_deb repos in combination with "APT pinning" and "unattended upgrade" workflows.

**Describe the solution you'd like**

- The upstream Origin, Label, and Version fields should be stored on

[2022-03-07 10:38] quba42 commented on #443
This ticket should be used for a backportable bugfix/workaround for the problem, while #449 is the longterm solution.

[2022-03-07 15:15] #443 closed

[2022-03-17 11:38] quba42 opened #456 "Rework No-Support-for-Architecture-all format sync handling"
Many upstream repos declare the `No-Support-for-Architecture-all: Packages` option in their release file. For example, most official Debian bullseye repos.

This format results in a number of edge cases requiring special handling.
For example, we should not warn about `Architecture: all` packages in architecture specific indices for such repos.

Even more problematically, deb-mirror may mirror the

[2022-03-21 11:07] #456 closed

[2022-03-22 20:30] daviddavis opened #459 "Failure to upload packages"
**Version**
I'm on the main branch (3055a86c41c39acf7c3947b1d274ed0c65ae7fc3).

**Describe the bug**
When I try to upload a package into pulp_deb, it fails.

**To Reproduce**
I've tried with various packages but they all seem to fail. Here's an example using vim:

[code]

**Expected behavior**
Package uploads successfully.

**Additional context**
I get a failure (`ErrorDetail(string='Unable to rea

[2022-03-22 20:31] daviddavis commented on #459
I think maybe these packages are compressed with zstandard and that's causing the problem?

[2022-03-22 20:40] daviddavis commented on #459
Looks like there's a PR upstream to add zstandard support to python-debian:

https://salsa.debian.org/python-debian-team/python-debian/-/merge_requests/79

[2022-03-23 08:47] quba42 commented on #459
Ugh, why must Ubuntu do things like this?

[2022-03-23 09:24] quba42 commented on #459
I would expect this to break syncs containing any packages using this compression algorithm as well. Need to verify this!

[2022-03-23 10:15] quba42 commented on #459
Strangely enough synchronizing `http://security.ubuntu.com/ubuntu/` (impish main amd64 Immediate), which includes the exact package above that fails to upload is successful. I guess during sync the package content is created using the metadata from the relevant Packages file, rather than the package itself.

[2022-03-23 10:44] mdellweg commented on #459
Yes indeed. It even creates the Content without ever seeing the real files in case of on on demand sync.

[2022-03-23 10:51] daviddavis commented on #459
That was my thought as well since I was surprised that no one else had reported this issue against pulp_deb and ubuntu has been using zstd since impish which was released in October.

They really jumped the gun on this. Python for example doesn't support zstd yet, nor does a lot of the tooling like aptly.

[2022-03-23 12:45] quba42 commented on #459
On a side note, this issue also affects Pulp 2 pulp_deb, also for the package upload. (Does not look like it affects the sync though my test system ran out of disk space before completing it).

[2022-03-23 13:07] quba42 commented on #459
Another tidbit of information: If you first obtain an affected package via sync, you can then upload it successfully, since the existing package content will be re-used (rather than creating a new one from the uploaded package file).

[2022-03-30 16:36] gvde opened #466 "Katello 4.3.0: Bullseye re-sync takes more than 5 hours"
**Version**
Katello 4.3.0, tfm-pulpcore-python3-pulpcore-3.16.6-1.el7.noarch, tfm-pulpcore-python3-pulp-deb-2.16.1-1.el7.noarch
updated from 4.2.2 with pulpcore 3.14

**Describe the bug**
Since upgrading syncing bullseye main repository takes extremely long, more than 5 hours instead of 22 minutes before the upgrade. Tried twice, each sync more than 5 hours. During sync one postgres process is at

[2022-04-07 07:57] quba42 commented on #466
I will have a look at what changed between 2.14 and 2.16 and see if I can reproduce this.

[2022-04-12 06:57] quba42 commented on #466
Some preliminary findings: I can't fully reproduce this. On my Katello 4.3 based machine with pulpcore 3.16.1 and pulp_deb 2.16.1, it took 2h 22min to sync
[code]
While not exactly great performance this is still a far cry better than what @gvde reported. I also did not observe any busy postgres processes during the sync, only a busy pulp worker process. I can have another look if there is anythin

[2022-04-12 07:22] gvde commented on #466
More than 2 hours or more than hours isn't really that much of a difference for a normal (incremental) sync of a repository. It's just much too long. I have Immediate and Content Only policies set for the repository, so almost everything is already on the server. All what has to be done is to check for changes and download them. I don't really understand what should take 5 hours or even only 2 hou

[2022-04-12 08:21] quba42 commented on #466
Ok, the re-sync/incremental sync is definitely taking to long! It is at 45 min and counting even though very little should have changed since yesterday!

[2022-04-12 08:55] gvde commented on #466
I have justed checked the task details in katello of the running sync during a couple of minutes.

The only part changing is this:
[code]

The number is slowing increasing at a rate of approximately 230 per minute. My previous sync from this morning has a total number of 57352 there. So just taking 57352 at a rate of 230 per minute would account for more than 4 hours runtime...

[2022-04-12 12:52] quba42 commented on #466
Update: Based on the versions I have seen affected by this, I can now say that it is caused by some change to pulp_deb and not by pulpcore.

Fixing this issue is now a top priority, but I cannot yet project when it may be fixed, since I have not yet found the root cause.

[2022-04-12 14:08] quba42 commented on #459
I was able to verify that applying the patch from https://salsa.debian.org/python-debian-team/python-debian/-/merge_requests/79 to python-debian (making sure the zstd binary is available) solves this issue.

I will look into getting in touch with the upstream maintainers to see if they feel like releasing this patch...

[2022-04-12 19:39] akulakhan commented on #447
I also need this to be added. Not having a way to combine "all" and "amd64" architecture packages breaks specific bootstrap installer that I rely on, specifically the diskimage-builder ubuntu-minimal stuff here: https://docs.openstack.org/diskimage-builder/latest/elements/ubuntu-minimal/README.html

[2022-04-14 07:31] quba42 commented on #447
@akulakhan Can you explain what exact version of Ubuntu software and what exact commands do not work as expected?
This is important to us, since it would be the first confirmed example of something that does not work.

In the meantime, you could probably still work around the problem by using the "verbatim publisher", which publishes the repo that you synced exactly as it was (including all metada

[2022-04-14 15:37] akulakhan commented on #447
Provided a log for the failure. The issue occurs during the `08-debootstrap` step which seems to be solely reliant on the `DIB_DISTRIBUTION_MIRROR` provided, which can only be a single repo, and doesn't seem to use the normal apt-get workflow (which does work).

[code]

Note that I have tried using the verbatim publisher, however this doesn't work for me since it seems to have various issues. Not

[2022-04-15 09:57] quba42 commented on #459
The upstream MR is now merged to the upstream main branch. Not sure how the `python-debian` release cycle works though.

[2022-04-15 10:03] daviddavis commented on #459
Awesome. Are there any changes needed in pulp_deb or will zstd packages just work once python-debian is released?

[2022-04-15 10:11] quba42 commented on #459
@daviddavis There are no changes needed in pulp_deb, but we should add the `zstd` dependency to the python-debian SPEC file in pulpcore-packaging (I can open a PR there, since I already have the needed commit for our internal packaging).

For any non RPM based Pulp installations this means zstd packages will just work, provided you have the zstd program installed. Now that I think about it, I will

[2022-04-15 11:46] daviddavis commented on #459
Awesome, let me know if I can help with anything.

[2022-04-19 09:06] quba42 commented on #466
Hypothesis: Insufficient batching of the slow queries might be at least part of the problem.

[2022-04-19 11:30] quba42 commented on #466
On all our internal tests, this mainly appears to affect initial syncs, but not re-syncs (at least not when there are no new packages).

For example: Syncing bullseye main amd64 (58616 packages, 117239 associated content) took an excruciating 30 hours (symptoms exactly as described above) for the initial sync on my test system, but the re-sync took 28 minutes, which is comparable to Pulp 2 re-sync

[2022-04-19 12:54] gvde commented on #466
I haven't tried an initial sync again and I also don't have the durations for pulp 2 resyncs. My observation is only between Katello 4.2 and 4.3 and deb resyncs taking significantly longer. I have no complaints about rpm syncs.

[2022-04-19 13:51] quba42 commented on #466
It looks like this is caused by the following issue in pulpcore: https://github.com/pulp/pulpcore/issues/2557
It should be fixed with the corresponding fix: https://github.com/pulp/pulpcore/pull/2558

[2022-04-20 06:59] quba42 commented on #466
The pulpcore fix is now merged! It will be backported as far as pulpcore 3.16.

[2022-04-20 08:26] gvde commented on #466
I have just started another sync of bullseye main. Associating content is now at 10939 after 32 minutes. So it seem to be somewhat faster but only maybe factor 2, unlike with katello 4.2/pulpcore 3.14 when it took approx. 22 minutes to finish the sync...

[2022-04-20 10:46] gvde commented on #466
O.K. Second run. Again 57 minutes. Definitely much better than those 5 hours before. But still 2,5 times what it was before the  upgrade to 4.3.

It's really not quite clear to me why it is that long to begin with. RPM repo syncs with more than 30.000 packages are much faster, less than a minute if nothing has changed.

[2022-04-20 12:55] saltyollpheist opened #481 "FORCE_IGNORE_MISSING_PACKAGE_INDICES=True Where does it go?"
`No suitable Package index file found in 'dists/focal/main/binary-arm64'. If you are syncing from a partial mirror, try setting ignore_missing_package_indices to 'True' on your remote.`

I'm trying my best to figure out where exactly apply this variable - or preferably its global version `FORCE_IGNORE_MISSING_PACKAGE_INDICES=True` - in order to synchronize my Ubuntu 20.04.4 LTS repository with my

[2022-04-20 13:10] mdellweg commented on #481
I think it should be in the settings. There are multiple ways:
https://docs.pulpproject.org/pulpcore/configuration/applying.html

[2022-04-20 13:15] saltyollpheist commented on #481
I had that page pulled up already, but thank you all the same. It doesn't offer a clear, concise answer as to where to place this particular variable. I've tried exporting it as a variable. I've tried putting it in ALL CAPS in the `/etc/pulp/settings.py`. Neither have yielded any change in how Pulp is handling the Ubuntu repository. Further assistance and/or explanation would be much appreciated.

[2022-04-20 13:17] maximiliankolb commented on #481
Threads in Foreman Community Forum: [Discrepancies: Ubuntu vs RedHat with Foreman+Katello](https://community.theforeman.org/t/discrepancies-ubuntu-vs-redhat-with-foreman-katello/28191/5?u=maximilian) & [DEB repository synchronization results with Success but no content added](https://community.theforeman.org/t/deb-repository-synchronization-results-with-success-but-no-content-added/28157?u=maximil

[2022-04-20 14:13] Manisha15 commented on #481
You need to restart the pulp services after changing the settings.

Depending on system you are using:
Either ``sudo systemctl start pulpcore-manager
sudo systemctl start pulp-content``
Or
`prestart`

[2022-04-20 15:06] saltyollpheist commented on #481
Replying here as I did on the [Foreman Community](https://community.theforeman.org/t/deb-repository-synchronization-results-with-success-but-no-content-added/28157/10) post for posterity.

![image](https://user-images.githubusercontent.com/31519460/164261858-3c3ae523-16fc-4b22-9070-17c1df959ffe.png)

Turns out neither of those services are installed, which is a fault of the Foreman+Katello setup a

[2022-04-20 16:21] quba42 commented on #481
@saltyollpheist Placing `FORCE_IGNORE_MISSING_PACKAGE_INDICES=True` in `/etc/pulp/settings.py` and then running either of the following should work on a Katello installation:
[code]

[2022-04-20 16:52] saltyollpheist commented on #481
Replied in [Foreman Community](https://community.theforeman.org/t/deb-repository-synchronization-results-with-success-but-no-content-added/28157/14?u=saltyollpheist) post regarding these commands and the outcome of both Traditional Method and Flat Repo Format method.

[2022-04-20 20:28] saltyollpheist commented on #481
Per the post on the [Foreman Community](https://community.theforeman.org/t/deb-repository-synchronization-results-with-success-but-no-content-added/28157/15?u=saltyollpheist), @quba42 was able to provide me the solution for Ubuntu synchronization. As it stands right now for Ubuntu repository synchronization for anyone who stumbles across this, the following fixed the issue:

1. Append `FORCE_IGNOR

[2022-04-20 20:28] #481 closed

[2022-04-21 12:34] quba42 commented on #466
Right, I am now closing this issue, since it will really be fixed here: https://github.com/pulp/pulpcore/issues/2557

This does not mean there are no more pulp_deb performance improvements to be had, but those will be worked on under new issues!

[2022-04-21 12:34] #466 closed

[2022-04-25 12:07] quba42 commented on #459
I am now trying to add slightly improved upstream error messages: https://salsa.debian.org/python-debian-team/python-debian/-/merge_requests/83

[2022-05-05 10:27] knzivid opened #520 "No suitable Package index file found"
**Version**
pulp-deb                        2.13.0
pulp-file                       1.7.0
pulpcore                        3.13.0

**Describe the bug**

I am synchronizing focal-updates from [no.archive.ubuntu.com](http://no.archive.ubuntu.com). This worked fine until yesterday. I am not sure what changed on no.archive.ubuntu.com.

[code]

The mirror has [Packages.gz and Packages.xz](http://no.archi

[2022-05-06 15:57] akulakhan commented on #447
@quba42 do you have any idea when this might be fixed or if it's on the roadmap at all? I am presently having to maintain both a pulp 2 and pulp 3 server as a result of this issue, and it would be nice to have an end of life estimation for the former.

[2022-05-13 10:40] honzasara opened #525 "description is missing"
**Version**  pulp:3.19 (latest)
pulp-operator, in minikube, docker image pulp:stable or pulp:latest

{
    "versions": [
        {
            "component": "core",
            "version": "3.20.0.dev"
        },
        {
            "component": "rpm",
            "version": "3.18.0.dev"
        },
        {
            "component": "python",
            "version": "3.7.0.dev"
        },
        {

[2022-05-30 11:24] jgrammen-agilitypr opened #530 "Deb Mirror, multiple gpgkeys"
**Version**
Pulpcore version:
3.19
Pulp plugins installed and their versions:
pulp-deb 2.18.0
pulp-file 1.10.2

**Describe the bug**
There is no way to associate multiple gpgkeys with a single repository. Which is necessary when trying to mirror archive.ubuntu.com, which publishes different gpgkeys for different distributions (focal vs bionic)

**To Reproduce**
Create a remote, that mirrors "http:

[2022-05-31 10:27] tibeer opened #531 "Publication: simple mode does not generate a list of packages"
**Version**
- pulpcore: latest (sha256:40956e8c5def23ac5ddcc2c307e23a9cdd8eaa2ce3c2c8b6a4f2dcb5221e3d07)
- pulp_deb: latest(sha256:40956e8c5def23ac5ddcc2c307e23a9cdd8eaa2ce3c2c8b6a4f2dcb5221e3d07)

Installed via podman-compose with the latest containers.

**Describe the bug**
Creating a publication with "simple" does not generate a list of packages for the web frontend.

**To Reproduce**
Steps to

[2022-05-31 11:55] jgrammen-agilitypr commented on #530
It appears based on work around recommend to me by the community that it is possible to sync a upstream repository signed with mulitple keys. You need to insert into the gpgkey field either a concatenated set of gpg keys or export mulitple keys into a single key.

If this is confirmed by someone else, then I would suggest this ticket become a request for documentation updates, since the docs do no

[2022-06-01 07:37] quba42 opened #532 "Convert most CharField instances to TextField"
There now seems to be a consensus for both pulpcore and pulp_rpm, that TextField is always better than CharField for Pulp.
I gather this is because of how PostgreSQL implements these two fields on the DB side.

For consistency pulp_deb should also follow suit.

See: https://github.com/pulp/pulp_rpm/pull/2515 as a reference.

[2022-06-01 07:48] quba42 commented on #531
Looking at your reproducer steps: Is it possible, that you created the distribution and publication before syncing any packages to the repository? If so, then the repo version you published would be expected to contain no packages, and as a result no pool folder.

Perhaps you were relying on the autopublish feature as present in pulp_rpm to update your publication after your sync? I am afraid ther

[2022-06-01 08:46] tibeer commented on #531
Different order of commands and it works! Sometimes it's the simple solutions.

If someone else is stumbling across this, this is how you update things after a sync:

[code]

[2022-06-01 09:23] quba42 commented on #520
@knzivid If I remember correctly, the error you encountered can happen in at least the following situations:

* The remote has bad input data in the `components` field, given your components field is `null` above this is not the case here.
* The repo you are syncing from is a partial mirror where the Release/InRelease file (http://no.archive.ubuntu.com/ubuntu/dists/focal-updates/InRelease) referen

[2022-06-02 11:34] m-bucher opened #537 "Show total number of items in sync-tasks"
**Is your feature request related to a problem? Please describe.**
pulp_deb progress_reports during sync tasks should show the total number of items to process. Currently it just says `null`:
[code]

**Describe the solution you'd like**
I reckon this could mean iterating over the PackageIndex before actually processing it, maybe a 'nicer' solution is possible.
Nevertheless, it would make the curre

[2022-06-10 17:43] akulakhan commented on #447
Anyone have any update on whether this is on the roadmap?

[2022-06-13 10:20] #532 closed

[2022-06-13 16:03] akulakhan commented on #447
I can look into implementing it, any pointers would be helpful.

[2022-06-14 11:37] quba42 commented on #447
@akulakhan I guess the place for specifying the option, perhaps named `no_support_for_architecture_all`, would be after this line: https://github.com/pulp/pulp_deb/blob/main/pulp_deb/app/models/publication.py#L34
Most of the code for actually implementing the feature would have to go in https://github.com/pulp/pulp_deb/blob/main/pulp_deb/app/tasks/publishing.py In particular, I believe something l

[2022-06-14 13:10] Manisha15 opened #543 "Revisit the relative_path package upload design"
At present, it is advised to not modify relative_path and if you do then it should consists of `package name_version` but in some cases, Katello for example, relative_path is set to `filename` which could cause error when uploading the package.

Instead of creating the name ourselves, can we change the design of how relative_path is generated and we can directly use `filename` for it.

[2022-06-16 15:32] akulakhan commented on #447
Thanks for the info. I have tried the verbatim publisher but it does not work in this case since the systems consuming it will fail if the language packages aren't available. These are static/released images that must be supported without changes, so there is no option to make changes on the client side to work around this, unfortunately.

I will take a crack at implementing this feature at some p

[2022-06-20 12:10] #525 closed

[2022-06-20 14:52] quba42 opened #549 "When the circumstances are just right, pulp_deb will produce inconsistent verbatim publications"
**Version**
Affects every version tested (at least the cutting edge all the way back to 3.14)

**Describe the bug**
Does not happen with download policy immediate, (reproduced with streamed, but on_demand is probably the same).

When re-syncing a repo with a unchanged Package index file, but a changed associated `Package.gz` file. (Can happen when syncing from another Pulp instance that uses a new

[2022-06-21 07:12] quba42 commented on #447
I am afraid I have more bad news here: pulp_deb currently ignores all language files during the sync (if it synced them, then the verbatim publisher would publish them). It looks like pulp_deb won't be usable for your use case without some significant further development. We do have the long term goal of making pulp_deb sync absolutely every type of file that can exist in an upstream repo, and the

[2022-06-22 11:57] #549 closed

[2022-06-22 15:49] daviddavis commented on #459
Hey @quba42 looks like there's a new python-debian release:

https://pypi.org/project/python-debian/#history

I retried the reproducer with python-debian 0.1.44 installed but it still seems to be failing (`Unable to read Deb Package`). Is there anything that needs to happen in pulp_deb now?

[2022-06-22 15:52] daviddavis commented on #459
Ah, I installed zstd and it worked. I forgot about [your PR](https://github.com/pulp/pulp_deb/pull/513). 😅

I am going to open a PR against the single container to install zstd.

[2022-06-22 16:00] daviddavis commented on #459
Single container PR: https://github.com/pulp/pulp-oci-images/pull/208

[2022-06-24 11:55] VasiliyNosov opened #560 "Database overload fix"
On Associating Content stage pulp worker overloads the database.
It send to db many heavy sql queries (Maybe for each content entity). For example:

[code]
For more details:
https://explain.tensor.ru/archive/explain/06371df71c8e5cca9697f7e28e51c841:0:2022-06-24#parsed

I executed this query on readonly replica and it took 220ms. It's too long.

First synchronization (parallel) of four repositories

[2022-06-27 07:28] quba42 commented on #560
You are almost certainly hitting this issue from Pulpcore: https://github.com/pulp/pulpcore/issues/2557

It is fixed with pulpcore 3.18.5. Please check if updating your pulpcore version to 3.18.5 fixes your issue.

[2022-06-28 21:54] hstct opened #564 "Add optimize mode to repository sync"
Similar to `pulp_rpm` add the option for the `synchronize` task to optimize sync (which will be the default behavior).

The idea is to check if the `artifact_set_sha256` of a `ReleaseFile` or `PackageIndex` has changed before syncing it. If the checksum has not changed that means the release or the given package has not changed and can be skipped in the syncing process. This should yield better pe

[2022-07-06 14:08] quba42 commented on #449
The title of this ticket remains as valid as ever, but the proposed implementation requires significant rethink!

[2022-07-06 14:09] quba42 commented on #449
`Description` is another Release file field that should be considered as part of this issue.

[2022-07-06 14:11] quba42 commented on #387
This issue should be subsumed into https://github.com/pulp/pulp_deb/issues/449

In particular, see: https://github.com/pulp/pulp_deb/issues/449#issuecomment-1176269994

[2022-07-06 14:11] #387 closed

[2022-07-06 18:44] rossengeorgiev opened #571 "Unable to handle urls with where the package name has + in the name"
**Version**
[code]

**Describe the bug**
One can argue that this is not a bug, but the repository works correctly under `apt` thus I consider it a bug.

Repo in question: https://packages.confluent.io/clients/deb

Error when attempting to sync:

[code]

The error is caused by `+` not being encoded as `%2B` when making the request for the package. Tests with curl:

[code]

**To Reproduce**
See abov

[2022-07-07 11:27] quba42 commented on #571
It looks like pulp_rpm has encountered and fixed the exact same issue. See here: https://github.com/pulp/pulp_rpm/blob/main/pulp_rpm/app/downloaders.py#L68

[2022-07-12 13:26] daviddavis opened #575 "Invalid hyperlink when creating ReleaseComponent"
Hoping someone can confirm whether this is a bug or maybe I am doing something wrong?

**Version**
pulpcore 3.19.0
pulp_deb 2.18.0

**Describe the bug**
I am trying to create a ReleaseComponent but getting `Invalid hyperlink - Incorrect URL match.` for the release field.

**To Reproduce**
[code]

Response:

[code]

**Expected behavior**
The component is created.

[2022-07-12 14:45] #571 closed

[2022-07-13 12:26] rossengeorgiev commented on #571
Great work! Thanks

[2022-07-14 08:32] #575 closed

[2022-07-25 12:01] quba42 commented on #543
After some discussions, with upstream, we have decided not to hand control over the relative_path for Debian packages to users, but to change several other things about the upload workflow. I will amend and re-use this ticket for this.

[2022-07-25 12:02] quba42 commented on #543
After some discussions, with upstream, we have decided not to hand control over the relative_path for Debian packages to users, but to change several other things about the upload workflow.

As a result, I will close this ticket and open up a follow on ticket instead.

[2022-07-25 12:02] #543 closed

[2022-07-25 12:48] quba42 opened #592 "Improve the package upload workflow"
**Is your feature request related to a problem? Please describe.**

The current upload workflow is not very user friendly.

Users have a `.deb` file, and want to add that Package to some APT repo in Pulp. Users do not care about how Pulp turns that File into deduplicated artifacts and content units.

**Describe the solution you'd like**

Using [this API endpoint](https://docs.pulpproject.org/pulp_

[2022-07-25 12:49] quba42 commented on #543
Follow on task: https://github.com/pulp/pulp_deb/issues/592

[2022-07-25 12:53] quba42 commented on #592
See also:

- https://github.com/pulp/pulpcore/issues/2911
- https://github.com/pulp/pulp_file/issues/774

[2022-07-29 04:17] mikalstill commented on #449
@quba42, I'd be happy to take a swing at this one (I am already looking for a starter project to contribute to this plugin), but it is not clear to me from your comment why the design needs a rethink. Is there further information available somewhere else for that?

[2022-07-31 20:11] joernheissler commented on #408
Hi,
how can the bug(s) be reproduced?

[2022-07-31 20:24] mdellweg commented on #408
It is more a missing feature than a bug.

[2022-08-01 07:46] joernheissler opened #597 ""You cannot call this from an async context - use a thread or sync_to_async" in "_handle_installer_file_index""
**Version**
Installed through pip from pypi (and later from git):
pulpcore 3.20.0
pulp-deb: 2.19.1 or `56fd68e`
Django: 3.2.14
psycopg2: 2.9.3

**Describe the bug**
While syncing "debian-bullseye" (the main repo), I'm getting `You cannot call this from an async context - use a thread or sync_to_async.`

**To Reproduce**
[code]

**Traceback**
[code]

[2022-08-01 09:55] joernheissler commented on #408
Yep. But I'm wondering what needs to be done to actually notice that features are missing or something isn't working.
A while ago I reverted 98f25d846f41fc817501451daef39118d18d06b2 and as far as I remember, I couldn't see any issues.

[2022-08-01 13:20] quba42 opened #598 "Add minimal installation and usage docs for pulp-cli-deb"
Since we have zero documentation on how to install and use the `pulp-cli-deb` plugin for `pulp-cli`, users do not know it exists, and either miss out, or ask for it, or even try to start implementing it themselves: https://github.com/pulp/pulp_deb/pull/595

We should at least add some documentation (perhaps an info box included in several places throughout the workflow docs), perhaps also a paragr

[2022-08-01 20:24] quba42 commented on #597
A colleague said he could not reproduce this but he synced without setting "sync_udebs" and "sync_installer" to true, so I am guessing the issue is confined to synchronization of installer files. This is plausible, since those code paths don't have as good a test coverage as the main package sync. Still need to reproduce with those options to be sure.

[2022-08-02 06:35] quba42 commented on #449
@mikalstill I am afraid, I don't always keep the pulp_deb GitHub issues fully up to date (it's on my todo list), because we also use an internal issue tracker in addition to this one. "The design issues" I allude to in this thread are not reflected in an issue right now (I will open one today and link it from this thread). The short version as relates to this issue, is that we no longer want to st

[2022-08-02 07:05] quba42 opened #599 "ReleaseComponent content with different codename or suite but equal distribution collides"
# Workarounds for `DuplicateDistributionException`

If you are getting an error message as follows:
[code]

Then you have hit our error (`DuplicateDistributionException`) for this issue.

- If you have hit it while syncing, you might be able to work around the problem by using the sync option `mirror=True` on your next sync attempt.
- Alternatively, you can sync the affected remote into a new empt

[2022-08-02 07:08] quba42 commented on #449
Note: I have now added an issue for the above mentioned "design issues": https://github.com/pulp/pulp_deb/issues/599

[2022-08-02 11:53] quba42 commented on #447
Actually I may have been overly pessimistic with the language files. It is plausible that with verbatim publisher the upstream Release files will advertise language files, that are actually missing, prompting the clients to complain. When using the APT publisher, the language files will also be missing, but they also won't be advertised as present in the Release file, so the clients might be fine

[2022-08-02 14:00] daviddavis commented on #599
We're dealing with a similar problem: how to reference repo's releases. Since distribution is not unique across a repo's releases, we can't reference a repo's release with the repo href and release distribution.

Maybe this is implied in the first design but I suggest setting `repo_key_fields = ('distribution', )` on the Release model similar to [how NVA are defined on Package`](https://github.com

[2022-08-02 14:04] quba42 commented on #599
`repo_key_fields = ('distribution', )` would be a very good initial solution. It is literally a one liner to implement, and it will prevent users from building broken RepositoryVersions that cannot be published (through no fault of their own).

Then I can take all the time in the world to decide if I really want to go the route of completely redesigning the way the Release content works (with the

[2022-08-04 11:11] quba42 opened #601 "Handle the special case when publishing simple and structured and the upstream repo contains a distribution named "default""
**Describe the bug**
If an upstream repo contains a distribution named "default", and the user tries to publish this using `structured=True` AND `simple=True`, the structured "default" distribution will collide weith the simple "default" distribution and the publication will fail as follows:

[code]

**Expected behavior**

Either handle this special case, or at least provide a meaningful error mes

[2022-08-04 14:25] quba42 opened #603 "Do not allow multiple identical distributions in a single repo version"
**Describe the bug**
This is essentially https://github.com/pulp/pulp_deb/issues/599, but under a new issue, for providing an initial fix (while retaining the old ticket for a potential long term fix).

**To Reproduce**
Either manually, or using the advanced copy API add multiple `Release` content units to a repository, that differ only in the `suite` or `codename`, but not in the `distribution`.

[2022-08-08 06:41] Manisha15 opened #605 "As a user I want to export/import with deb-content with pulpcore exporter/importer"
Add a feature to utilize pulpcore importer/exporter in pulp_deb to import/export repository contents.

[2022-08-09 12:21] #601 closed

[2022-08-16 07:23] quba42 opened #611 "Duplicate key value violates unique constraint when syncing multiple Ubuntu distributions"
**Version**
[code]

**Describe the bug**
https://community.theforeman.org/t/duplicate-key-value-violates-unique-constrain-when-synchronizing-product-published-deb-file/29872
Error message:
[code]

It looks like the package `pool/all/f/flashrom/libflashrom-dev_1.2-5_amd64.deb` exists in multiple distributions and there is a race condition to create the one DB entry during sync.

**To Reproduce**
Sy

[2022-08-16 08:13] mdellweg commented on #611
This seems to generate a conflict on `PublishedArtifact`. Can you confirm this is a sync error? I think it might be a publication time error.

[2022-08-16 09:01] quba42 commented on #399
This has once again led to user confusion: https://community.theforeman.org/t/ubuntu-repo-sync-not-working/29950

We should work on this issue.

[2022-08-16 10:00] quba42 commented on #611
I have not yet tried to reproduce this, since I expect I will need to deploy a "large disk size test environment" to do so...

But yes, looking again, this error is probably on the publish. I had not considered this possibility since I sometimes stupidly forget that `Katello sync != Pulp sync`.

[2022-08-16 10:17] mdellweg commented on #611
With autopublish a sync in pulp might also get there. I was just trying to narrow it down.

[2022-08-16 14:59] hstct opened #612 "Synching repositories doesn't include `binary-all` packages"
**Version**
pulpcore: 3.20.0
pulp_deb: 2.19.1

**Describe the bug**
After synching a debian repository the `Packages` file in `binary-all` is empty. This results to those packages not being there at all.

**To Reproduce**
[code]

Check if the file in `/pulp/content/bullseye-updates/dists/bullseye-updates/main/binary-all/Packages` is not empty.

**Expected behavior**
The `Packages` file in `binary-

[2022-08-17 08:16] #605 closed

[2022-08-18 11:39] #603 closed

[2022-08-22 09:52] #564 closed

[2022-08-22 14:34] quba42 opened #624 "Add minimal docs for the new Import/Export feature"
The corresponding feature is tracked here: https://github.com/pulp/pulp_deb/issues/605

[2022-08-23 07:42] #624 closed

[2022-08-30 12:44] jgrammen-agilitypr commented on #419
any chance of some traction on this issue? it would be nice if pulp-deb fully supported the newer versions of ubuntu (>= 20.04).

[2022-08-31 07:37] quba42 commented on #419
@jgrammen-agilitypr Not really. This is just not a use case my employer is currently pursuing, and we have a gazillion other issues to work on, so unless there is a community contribution I don't see this feature happening any time soon.

[2022-08-31 11:59] quba42 opened #631 "Extend optimize feature to mirror=True sync policy"
optimize mode currently does not work in combination with mirror=True sync policy, so we do not use them together: https://github.com/pulp/pulp_deb/pull/630

The reason is that since optimize mode does not add anything, mirror mode then goes ahead and deletes everything from the repo "since it is no longer in the upstream repo".

Our first attempt at using optimize in combination with mirror ended

[2022-08-31 12:02] quba42 commented on #631
This issue should revert https://github.com/pulp/pulp_deb/pull/630/commits/881f1987a5cf034c6e308173eeef002c64ec789f

[2022-08-31 12:41] quba42 opened #632 "Do not validate_duplicate_content for APT repositories"
Using validate_duplicate_content prevents successful synchronization when multiple package indices contain references to the same package. However, this is an entirely legitimate situation for separate distributions/releases within a single APT repo. Further more, the so created duplicate package content, does not cause any adverse effects, since it is actually identical and only one of each dupli

[2022-08-31 13:07] #632 closed

[2022-08-31 14:27] quba42 opened #634 "Use optimize for rare edge cases"
Consider the following situation.

- The last version of some repository used `mirror=False` sync policy.
- We now want to sync using `mirror=True` sync policy.
- Since the mirror policy has changed a full sync will be done in case the change in sync policy results in a change that optimize would skip.
- However, if no change materializes (the repo is already mirrored perfectly), then no new repo

[2022-09-01 08:52] #402 closed

[2022-09-06 12:40] quba42 opened #640 "Investigate validate_duplicate_content issues"
We have recently thrown out the validate_duplicate_content function because it was causing problems. See here: https://github.com/pulp/pulp_deb/pull/633

However this is at best a workaround. We should look into re-adding this check, while properly addressing the issue.

See the discussion on the referenced PR for details.

[2022-09-09 20:06] daviddavis opened #641 "Specifying signing service at publish time is inconsistent and a bad user experience"
We're using a signing service to sign our repos. It looks like for pulp_deb, you have to pass the signing service in at publish time. This is inconsistent with how pulp_rpm does it (there you set the signing service info on the repo):

https://docs.pulpproject.org/pulp_rpm/workflows/metadata_signing.html

And it's also a hassle because that means the user has to track which signing service goes wi

[2022-09-09 20:17] daviddavis commented on #640
Hoping you can address this issue before the next release. We rely on pulp_deb to prevent duplicate packages (same NVA) from being added to a repo.

[2022-09-12 07:46] mdellweg commented on #641
This is a perfect option to be on the (no longer existent) `Publisher`. But I agree having an option on the `Repository` with the possibility to overrule on `publish` sounds like something we discussed some time ago. This also looks necessary for any reasonable `auto-publish` implementation.

[2022-09-15 12:48] hstct commented on #612
There was another report of this bug. Also using the official debian repository this time however using `on_demand` and `mirror` options for the sync and `verbatim` mode for the publication. Some packages are missing after sync/creating a distribution.

If `hybrid_format` is forcefully set to `False` then the packages are present afterwards. Only packages that are _only_ present in the `binary-all

[2022-09-15 14:53] itbane commented on #612
Our initial deployment was `pulp-deb 2.16.1`, which worked.

If tested both `2.16.1` (working) and `2.16.2` (not working), so I think we narrowed down the regression to that version.

[2022-09-26 09:43] quba42 commented on #641
I am certainly open to a "convenience" field on the repository, that can be overridden using the existing publish time field. This adds convenience and pulp_rpm similarity without impacting the existing workflow. Since we are used to the existing workflow, this is not a priority for us, but we would be happy to review an external contribution. This does not sound like a feature that would be very

[2022-09-26 16:17] quba42 commented on #612
Just adding this link, since it is quite helpful for testing this: https://github.com/itbane/pulp-sync-issue

[2022-09-28 12:19] quba42 commented on #612
Just for completeness sake, it looks like this only affects architecture `all` packages if the upstream repo uses `No-Support-for-Architecture-all: Packages` in the Release/InRelease file, AND the package in question is missing from the upstream distributions `dists/bullseye/main/binary-all/Packages` index, and is instead present only in the architecture specific indices, e.g.: `dists/bullseye/mai

[2022-09-30 17:48] sdherr opened #646 "Filters for exploring Content relationships"
`pulp_deb` allows users to configure apt releases/distros, components, and what packages go in them by allowing users to add `Releases`, `ReleaseComponents`, `PackageReleaseComponents`, and `Packages`, all of which are types of generic `pulpcore` Content and all of which get mapped to a particular `RepositoryVersion`. That's fine, except `pulp_deb` is missing all filters that allow you to explore

[2022-09-30 20:44] sdherr commented on #646
PR filed as #647

[2022-10-03 16:38] rossengeorgiev opened #648 "duplicate key value violates unique constraint "core_publishedmetadata_publication_id_relative__60dd832b_uniq""
**Version**
`katello-4.4.1-1.el7.noarch`

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create deb repo with upstream `https://apt.releases.hashicorp.com` with `focal`, `main`, `amd64`
2. Attempt sync
3. Sync completed with warning, giving the above messages

Note: subsequent sync will succeed and not display any errors

**Expected behavior**
Successful repo syn

[2022-10-06 19:24] sjha4 opened #652 "Requesting pulp_deb bindings release 2.19.z with updated faraday dependencies"
We are planning to upgrade to [pulp_deb_client 2.19.1](https://rubygems.org/gems/pulp_deb_client) as part of upgrading to pulpcore 3.21 but the pulp_deb binding currently has faraday dependencies >= 0.17, < 1.9.0. This conflicts with other plugins being packaged which have faraday dependency as >= 1.0.1, < 2.0.

[2022-10-14 20:05] daviddavis opened #655 "Allow users to set 'origin' and 'label' in release files"

[2022-10-15 11:31] daviddavis commented on #655
Closing as a dupe of https://github.com/pulp/pulp_deb/issues/449

[2022-10-15 11:55] #655 closed

[2022-10-17 09:05] quba42 commented on #652
As far as I understood we don't explicitly manage this dependency anywhere, so it should just update automatically whenever we do a 2.19.2 release, which we are planning to do anyway. (I am not sure if or how we can re-release just the bindings for 2.19.1).

[2022-10-17 09:07] quba42 commented on #652
Note also, that we are also planning to do a 2.20.0 release, which is what we will want to use for Katello with pulpcore 3.21, so we will update to that soon as well.

[2022-10-17 11:58] sjha4 commented on #652
Thanks for the update @quba42. I wasn't sure if 2.20.0 was being planned soon. We will upgrade to 2.20.0 in that case for Katello 4.7.

[2022-10-17 12:56] quba42 commented on #592
There is now a pulpcore feature that plugins can opt in to use: https://github.com/pulp/pulpcore/pull/3083

[2022-10-18 14:58] quba42 commented on #652
Update: There is now a `2.19.2` release along with the following client: https://rubygems.org/gems/pulp_deb_client/versions/2.19.2 which has the updated faraday version range.

We also still plan to do a 2.20.0 release today or tomorrow, in case you would rather wait for that.

[2022-10-18 15:18] quba42 opened #660 "Improve the signing service documentation"
The existing documentation is brief to the point of being opaque. Even if there isn't time to write a full workflow documentation, we should at least have a full example of using the `pulpcore-manager` command to create a signing service of the correct type to get people started!

[2022-10-18 20:53] Catman155 opened #662 "Autopublish for Debian plugin like the RPM one does"
**Is your feature request related to a problem? Please describe.**
I don't really know if it is a bug, but on the RPM plugin when I set the repository to autopublish, I only have to add the repository to the distribution and every time I add/remove content from the repository, the new version gets distributed automatically.

**Describe the solution you'd like**
I would like to set the autopublish

[2022-10-19 07:18] quba42 commented on #662
When the autopublish/distribute feature was new, I tried implementing it for pulp_deb. However I quickly ran into design issues with how to decide whether a given distribution should use verbatim publisher or APT publisher (using what publication options) and since this is not a high priority feature for us, I gave up at that point.

This continues to be a nice to have feature, that we may eventua

[2022-10-19 09:35] quba42 commented on #652
Update: 2.20.0 is out!

With this, I will close this issue. Let me know if there is anything else you need on the Katello side.

[2022-10-19 09:35] #652 closed

[2022-10-19 12:45] daviddavis commented on #662
We'd also like to have this feature.

At least with pulp_file, [autopublish options (ie manifest name) are stored on the repository model](https://github.com/pulp/pulp_file/blob/11bec639d53bfcabed4d1cc3910c45b70eb4f48d/pulp_file/app/models.py#L69). Not sure if that might help solve the problem?

[2022-10-19 12:49] Catman155 commented on #662
Is it really that hard to implement? I mean. it should be an option on the repository model I think, like on the RPM repository model. And then just making a publish when a new version is created and the option on the repository is on. and then have the distribution get the latest publish for the set repostiory on the distribution.

[2022-10-26 20:21] tjmullicani opened #668 "Distribution Packages and Packages.gz contain incorrect data (Pulp signing-service GPG key)"
**Version**
pulp-ansible                    0.15.0
pulp-cli                        0.16.0.dev0
pulp-cli-deb                    0.0.2
pulp-container                  2.14.1
pulp-deb                        2.19.1
pulp-file                       1.11.1
pulp-python                     3.7.3
pulp-rpm                        3.18.1
pulpcore                        3.22.0.dev0

**Describe the bug**
When pu

[2022-10-26 20:23] tjmullicani commented on #668
The following repositories (with authentication) also have issues, but only for **binary-i386**:
https://private-ppa.launchpadcontent.net/ubuntu-advantage/fips/ubuntu
https://private-ppa.launchpadcontent.net/ubuntu-advantage/fips-updates/ubuntu

[2022-10-27 07:38] quba42 commented on #668
Am I understanding this correctly? You are saying in the above example the `dists/bionic/main/binary-i386/Packages` file from the published Pulp repo contains a `PGP PUBLIC KEY BLOCK` instead of package paragraphs?

[2022-10-27 12:11] tjmullicani commented on #668
@quba42 For each of these repositories the upstream Packages.gz file contains the correct data. It appears that when Pulp synchronizes and creates a distribution, the contents get replaced with the GPG key instead. I’m not sure why Pulp is serving incorrect content for only certain repositories.

[2022-10-27 20:12] tjmullicani commented on #668
It looks like somehow the Pulp signing-service GPG key got added as an artifact for multiple APT Packages files.

[code]

[2022-10-28 07:48] mdellweg commented on #668
Is your signing script outputting the key instead of the signature, by any chance?

[2022-10-28 09:03] quba42 commented on #668
I have no idea what is going on here (surely the signing service does not even interact with Package indices since only Release files are signed?!), but yes, it might help if we could have a look at your signing service script. Also the exact steps/commands used to create your signing service, so we can try to reproduce this.

[2022-10-28 13:48] tjmullicani commented on #668
The signing-service is working, at least to successfully sign the Release.gpg file.

[code]

[2022-10-28 13:51] tjmullicani commented on #668
I wondering if this is due to some kind of obscure race condition. I am synchronizing and publishing multiple Pulp deb repositories at the same time using Bash background processes (&).

[2022-10-28 14:57] tjmullicani commented on #668
Attaching some additional troubleshooting information. It looks like when the publication is created for the Pulp repository apt-ubuntu-advantage-security-benchmarks, the binary-amd64/Packages and binary-i386/Packages files are empty, but when the corresponding publication is updated Pulp returns the sigining-service GPG key.

[code]

[2022-10-28 14:59] tjmullicani commented on #668
I was able to delete the cached Packages artifact from Pulp and now the distribution does not return any data for binary-amd64/Packages and binary-i386/Packages. At least the Pulp distribution content matches the publication content for the file, even if it is blank.

[code]

[2022-11-01 19:28] daviddavis opened #674 "Missing packages from Packages file"
**Version**
pulpcore 3.22.0.dev (2054f5022c24d0a4bfc4515d4967d64fff2b109d)
pulp_deb 2.20.0.dev (f9592776c9ace4d727892b8aa3e74a1eef573208)

**Describe the bug**
It appears that packages go missing from Packages files if they appear in more than one release.

**To Reproduce**
[code]

**Expected behavior**
The package should show up in both releases, like this:

[code]

However, only one of the two c

[2022-11-08 14:33] sjha4 opened #677 "Proxy sync fails when newer binding is used to sync content on older pulp_deb api"
Katello supports N-1 proxy syncs. The master right now is on pulpcore 3.21 and pulp_deb binding gem being used is pulp_deb_client-2.20.

The class AptRepositorySyncURL in this newer gem initializes optimize to be true when not specified.
[code]
This means this new optimize parameter is passed to an older version of pulp_deb running on proxy causing an error.
Response body: {"optimize":["Unexpected

[2022-11-09 21:23] adam-kosseck commented on #611
I have the same kind of error after I created a single repository for Bionic, Focal and Jammy (as having 3 separate repos for each distro was bugging me).
[code]

When I tried to create a single Jammy repository (jammy, jammy-updates, jammy-security: main restricted universe multiverse), it seemed to work ok.

This is with Foreman 3.3.0-1, Katello-4.5.0-1, python39-pulp-deb-2.18.0-3.

[2022-11-14 16:03] #660 closed, assigned to nobody

[2022-11-19 13:18] daviddavis commented on #668
I posted [here](https://github.com/pulp/pulp_rpm/issues/2847#issuecomment-1320883108) but I thought I'd add a comment here for greater visibility. The key behavior is due to an issue in pulp_rpm where repomd.xml.key is getting written to the artifact file at `e3b0c4429...` which is the null file sha256 sum:

[code]

So anytime Pulp would attempt to serve an empty file, it would instead serve repom

[2022-11-19 13:22] daviddavis commented on #668
I would examine the artifact at `/var/lib/pulp/media/artifact/e3/b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855` to make sure it's empty.

[2022-11-19 16:29] tjmullicani commented on #668
@daviddavis The repositories in question only have amd64 packages, so the blank Packages file is correct.

[2022-11-19 17:08] tjmullicani commented on #668
Fixed by https://github.com/pulp/pulp_rpm/pull/2893

[2022-11-19 17:08] #668 closed

[2022-11-21 14:16] quba42 commented on #674
I suspect this is the same issue: https://projects.theforeman.org/issues/35362

[2022-11-21 16:59] sjha4 commented on #677
Opened an issue in katello : https://projects.theforeman.org/issues/35776 to add a temporary patch in katello to allow syncing.

[2022-11-23 14:49] sdherr opened #682 "Faster async metadata signing"
Metadata signing is currently iterative and synchronous, and therefore potentially very slow. The `publish` task currently iterates through the `Releases` in a repo in a for loop, generating, signing, and saving the metadata for them one-at-a-time. Some people are in environments where signing is not simply a call out to local `gpg`, but rather a call to some other service owned by some other team

[2022-11-23 14:54] sdherr commented on #682
Pulpcore `SigningService` even *already has* an asynchronous `asign` method to complement the synchronous `sign` method, we just have to use it.

[2022-11-23 19:21] Catman155 opened #684 "Refactor: `package` and `relative_path` fields on `Content`"
I would like to see these fields refactored to match what RPM does. This would bring more consistency to the projects.

[2022-11-28 21:43] sdherr commented on #641
It's also possible that someone might want to sign different releases inside a repo with different keys/services. This is not currently possible in `pulp_deb`, however if we're adding a new field to the Repo anyway then it's pretty easy to enable it by allowing the user to override it with another filed on the Release. In order to guarantee consistency with current behavior I think if `signing_ser

[2022-11-29 21:14] tjmullicani opened #690 "pulp orphan cleanup failure (protected foreign keys)"
**Version**
pulp-ansible                    0.15.0
pulp-cli                        0.16.0
pulp-cli-deb                    0.0.2
pulp-container                  2.14.2
pulp-deb                        2.20.0
pulp-file                       1.11.2
pulp-python                     3.7.3
pulp-rpm                        3.18.9
pulpcore                        3.21.3

**Describe the bug**
Cannot delete som

[2022-11-30 11:28] #612 closed

[2022-11-30 14:42] quba42 commented on #690
I will bring this up at the next [open floor meeting](https://hackmd.io/SVCMjpwXTfOMqF2OeyyLRw?view), since I need input from pulpcore developers on the orphan cleanup aspect of this.